absl-py==2.2.2
appdirs==1.4.4
imageio==2.37.0
jupyter_client==8.6.3
jupyter_core==5.7.2
keras==3.9.2
matplotlib==3.5.1
matplotlib-inline==0.1.7
numpy==1.26.4
opencv-python==4.11.0.86
pandas==2.2.3
PyYAML==5.4.1
scikit-image==0.25.2
scipy==1.15.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121